/* Desktop Sizing*/
/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif
}

section {
    padding: 10px;
    scroll-margin-top: 80px;
    background-color: #F5F7FA
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #81A5F9;
    padding: 25px 30px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    gap: 10px;
}

.navbar-right ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    color: white;
}

.navbar-right a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.navbar-right a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navbar-right a:hover::after,
.navbar-right a.active::after {
    transform: scaleX(1);
}

.navbar-right ul:hover a.active::after {
    transform: scaleX(0);
}

.navbar-right ul:hover a:hover::after {
    transform: scaleX(1);
}

/*Hamburger Menu Styling*/
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

/* Home Page Styling */
.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.home-container {
    display: flex;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
    justify-content: center;
}

.home-image {
    flex: 1;
    max-width: 500px;
}

.home-image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.home-details {
    flex: 3;
    max-width: 600px;
    text-align: left;
    color: #2E2E2E;
}

.home-details h1 {
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 700;
}

.name {
    color: #81A5F9;
}

.home-details p {
    font-size: 15px;
    color: #555;
}

.social-icons {
    margin-top: 30px;
    display: flex;
    gap: 25px;
    justify-content: flex-start;
}

.social-icons a svg {
    transition: transform 0.3s ease, fill 0.3s ease;
}

.social-icons a:hover svg path {
    fill: #3F6EE8;
}

.social-icons a:hover svg {
    transform: scale(1.2);
}

/* Background Page Styling */
.background-section {
    padding: 70px 70px 100px 100px;
    color: #2E2E2E;
}

.background-section h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 50px;
}

.background-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.education-section,
.experience-section {
    flex: 1;
}

.education-title,
.experience-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 25px;
}

.education-title h2,
.experience-section h2 {
    font-size: 35px;
    font-weight: 600;
    color: #81A5F9;
}

.content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 0 2rem;
    background-color: white;
    border: 1px solid #D2D2D2;
    border-radius: 1rem;
    transition: 0.4s ease;
    cursor: pointer;
}

.content-box:hover {
    box-shadow: 0 0 25px #D2D2D2;
    transform: scale(1.02);
}

.content-box h3 {
    color: #2E2E2E;
    font-weight: 600;
    font-size: 20px;
}

.timeline-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-left: 5px solid #81A5F9;
}

.timeline-content {
    position: relative;
}

.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #81A5F9;
    border-radius: 50%;
    left: -15px;
    top: 87px;
}

.date {
    color: #81A5F9;
    font-weight: 600;
    font-size: 15px;
}

.more-info {
    font-style: italic;
}

/*Fun Facts Modal Styling*/
.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: white;
    border-radius: 5px;
    padding: 30px 40px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.modal h1 {
    color: #2E2E2E;
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 20px;
}

.modal ul {
    color: #2E2E2E;
    text-align: left;
    font-size: 15px;
    padding-bottom: 30px;
}

.close-button {
    background-color: #81A5F9;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
    transition: transform 0.3s ease, fill 0.3s ease;
    cursor: pointer;
}

.close-button:hover {
    background-color: #3F6EE8;
    transform: scale(1.1);
}

/*Pictures Section Styling*/
.pictures-section {
    flex: 1;
}

.pictures-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 25px;
}

.pictures-title h2 {
    font-size: 35px;
    font-weight: 600;
    color: #81A5F9;
}

.pictures-container {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding: 10px;
    cursor: grab;
    scroll-behavior: auto;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pictures-container::-webkit-scrollbar {
    display: none;
}

.pictures-container:active {
    cursor: grabbing;
}

.pictures-container img {
    width: 20vw;
    height: 20vw;
    flex-shrink: 0;
    border-radius: 5px;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}

/*Skills Page Styling*/
.skills-section {
    padding: 70px 100px 100px 100px;
    color: #2E2E2E;
}

.skills-section h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 50px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.frontend-section,
.backend-section {
    flex: 1;
}

.frontend-title,
.backend-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 10px;
}

.frontend-title h2,
.backend-section h2 {
    font-size: 35px;
    font-weight: 600;
    color: #81A5F9;
}

.others-section {
    flex: 1;
}

.others-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 10px;
}

.others-title h2 {
    font-size: 35px;
    font-weight: 600;
    color: #81A5F9;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.tag {
    display: inline-block;
    padding: 5px 12px;
    background-color: white;
    color: #555;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: transform 0.2s ease;
}

.tag:hover {
    transform: translateY(2px);
}

/*Contact Page Styling*/
.contact-section {
    padding: 70px 200px 100px 100px;
    color: #2E2E2E;
}

.contact-section h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 10px;
}

.description {
    font-size: 20px;
    font-weight: 400;
    color: #555;
    padding-bottom: 50px;
}

.image-container img {
    width: 25%;
}

.image-container {
    display: flex;
    justify-content: center;
}

.thank-you {
    font-size: 15px;
    text-align: center;
    padding-bottom: 50px;
}

.email-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.email-button {
    background-color: #81A5F9;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 25px;
    transition: transform 0.3s ease, fill 0.3s ease;
    cursor: pointer;
}

.email-button:hover {
    background-color: #3F6EE8;
    transform: scale(1.1);
}


/*Phone Sizing*/
@media (max-width: 767px) {

    /*Home Page Styling*/
    .home-section {
        padding-bottom: 50px;
    }

    .home-container {
        padding-top: 25px;
        gap: 50px;
    }

    .home-image {
        display: flex;
        justify-content: center;
    }

    .home-image img {
        width: 300px;
        height: 300px;
    }

    .home-details h1 {
        text-align: center;
        font-size: 40px;
    }

    .home-details p {
        text-align: center;
        padding: 0px 30px;
        font-size: 13px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
    }

    .social-icons a svg {
        width: 25px;
    }

    /*Hamburger Styling*/
    .hamburger {
        display: flex;
    }

    .navbar-right {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #81A5F9;
        padding-top: 80px;
        transition: right 0.3s ease;
        z-index: 1000;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    }

    .navbar-right.active {
        right: 0;
    }

    .navbar-right ul {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .navbar-right a {
        font-size: 24px;
    }

    /*Background Page Styling*/
    .background-section {
        padding: 0px 10px 100px 25px;
    }

    .background-section h1 {
        font-size: 30px;
        color: #2E2E2E;
        padding-bottom: 15px;
    }

    .education-section {
        padding-bottom: 50px;
    }

    .education-title svg,
    .pictures-title svg {
        width: 25px;
    }

    .experience-title svg {
        width: 21px;
    }

    .education-title h2,
    .experience-title h2,
    .pictures-title h2 {
        font-size: 25px;
    }

    .education-title,
    .experience-title,
    .pictures-title {
        gap: 8px;
    }

    .circle {
        display: none;
    }

    .content-box {
        padding: 15px 15px;
    }

    .date {
        font-size: 13px;
    }

    .content-box h3 {
        font-size: 18px;
    }

    .content-box p {
        font-size: 13px;
    }

    /*Fun Facts Modal Styling*/
    .modal {
        margin: 0px 50px;
    }

    .modal h1 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .modal ul {
        font-size: 13px;
        padding-bottom: 15px;
    }

    .close-button {
        font-size: 13px;
        padding: 10px 20px
    }

    /*Pictures Section Styling*/
    .pictures-title {
        padding-bottom: 0px;
    }

    .pictures-container img {
        width: 200px;
        height: 200px;
    }

    /*Skills Page Styling*/
    .skills-section {
        padding: 0px 10px 30px 25px
    }

    .skills-section h1 {
        font-size: 30px;
        color: #2E2E2E;
        padding-bottom: 15px;
    }

    .skills-container {
        padding-bottom: 10px;
    }

    .frontend-title svg,
    .backend-title svg,
    .others-title svg {
        width: 21px;
    }

    .frontend-title h2,
    .backend-title h2,
    .others-title h2 {
        font-size: 25px;
    }

    .frontend-title,
    .backend-title,
    .others-title {
        gap: 8px;
    }

    .tags {
        padding-top: 0px;
    }

    .tag {
        font-size: 13px;
    }

    /*Contact Page Styling*/
    .contact-section {
        padding: 100px 15px 30px 25px
    }

    .contact-section h1 {
        font-size: 30px;
        color: #2E2E2E;
    }

    .description {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .contact-section img {
        width: 200px;
        height: 200px;
    }

    .thank-you {
        font-size: 11px;
    }

    .email-button {
        font-size: 15px;
    }
}

/* Tablet Sizing*/
@media (max-width: 991px) {

    /*Home Page Styling*/
    .home-section {
        padding-top: 50px;
    }

    .home-container {
        gap: 50px;
    }

    /*Background Page Styling*/
    .background-section {
        padding-left: 50px;
        padding-right: 10px;
    }

    .content-box {
        padding: 15px 20px;
    }

    .content-box h3 {
        font-size: 17px;
    }

    .content-box p {
        font-size: 14px;
    }

    .circle {
        display: none;
    }

    /*Pictures Section Styling*/
    .pictures-container img {
        width: 250px;
        height: 250px;
    }

    /*Skills Page Styling*/
    .skills-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    /*Contact Page Styling*/
    .contact-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .contact-section img {
        width: 250px;
        height: 250px;
    }
}

/*Small Laptop Sizing*/
@media (max-width: 1199px) {

    /*Home Page Styling*/
    .home-section {
        padding: 10px 50px 100px 50px;
    }

    .home-container {
        gap: 50px;
    }

    .home-container h1 {
        font-size: 55px;
    }

    .home-container img {
        width: 400px;
        height: 400px;
    }

    /*Background Page Styling*/
    .background-section {
        padding-left: 60px;
        padding-right: 40px;
    }

    .circle {
        display: none;
    }

    /*Pictures Section Styling*/
    .pictures-container img {
        width: 275px;
        height: 275px;
    }

    /*Skills Page Styling*/
    .skills-section {
        padding: 70px 60px;
    }

    /*Contact Page Styling*/
    .contact-section {
        padding: 70px 60px 100px 60px
    }

    .contact-section img {
        width: 275px;
        height: 275px;
    }
}