/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif
}

section {
    padding: 10px;
    scroll-margin-top: 80px;
    background-color: #F5F7FA
}


/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #81A5F9;
    color: white;
    padding: 25px 30px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    gap: 10px;
}

.navbar-right ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.navbar-right a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.navbar-right a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navbar-right a:hover::after,
.navbar-right a.active::after {
    transform: scaleX(1);
}

.navbar-right ul:hover a.active::after {
    transform: scaleX(0);
}

.navbar-right ul:hover a:hover::after {
    transform: scaleX(1);
}

/* Home Page Styling */
.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.home-container {
    display: flex;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
    justify-content: center;
}

.home-image {
    flex: 1;
    max-width: 500px;
}

.home-image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.home-details {
    flex: 3;
    max-width: 600px;
    text-align: left;
    color: #2E2E2E;
}

.home-details h1 {
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 700;
}

.name {
    color: #81A5F9;
}

.home-details p {
    font-size: 15px;
    color: #555;
}

.social-icons {
    margin-top: 30px;
    display: flex;
    gap: 25px;
    justify-content: flex-start;
}

.social-icons a svg {
    transition: transform 0.3s ease, fill 0.3s ease;
  }
  
  .social-icons a:hover svg path {
    fill: #3F6EE8; /* Change to your desired hover color */
  }
  
  .social-icons a:hover svg {
    transform: scale(1.2);
  }
  